html, body {
    margin: 0;
    padding: 0;
}
#container{
    box-sizing: border-box;
    background-color: gray;
    width: 80vw;
    height: 80vh;
    margin: 10vh 10vw;
    border-radius:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#calc_border{
    height:660px;
    width:350px;
    background-color: #C0C0C0;
    border:1px ;
    text-align:center;
    margin-left: auto;
    margin-right:auto;
    display: block;
    border-radius: 30px;
}
#calc_title{
    height:70px;
}
#title{
    float:left;
    width:50%;
    height:80px;
}
#solar_panel{
    box-sizing:border-box;
    padding:21px 20px;
    float:left;
    width:50%;
    height:80px;
}
#calc_screen{
    margin-bottom:50px;
    height: 100px;
    width: 90%;
    margin-left: auto;
    margin-right:auto;
    background-color: #A5AD96;
    text-align: right;
}
#screen_top{
    height:10px;
    font-size:10px;
}
#screen_input{
    height:40px;
    font-size:40px;
    text-align:left;
}
#screen_result{
    height:40px;
    font-size:40px;
}
#arrows{
    background-color:rgb(85, 85, 85);
    width:100%;
    border-radius: 50%;
    margin:0;
}
#arrows tr td{
    width:33.33333%;
    text-align: center;
}
.arrow_key{
    cursor:pointer;
    width:25px;
    height:25px;
    border:none;
    font-size:10px;
    background-color:rgb(85, 85, 85);
}
#calc_keys{
    margin-left:17.5px;
    margin-right:17.5px;
    width:315px;
}
#calc_table_func {
    box-sizing:border-box;
    width:100%;
    border-collapse: collapse;
}
#calc_table_func tr{
    width:100%;
}
#calc_table_func td{
    width:16.66667%;
    height:30px;
    padding:0;
}
.top_key{
    width:50px;
    height:20px;
    font-size:10px;
    background-color:darkgray;
}
#calc_table_keys{
    width:315px;
}
#calc_table_keys tbody tr td{
    width:20%;
    height:50px;
}
.num_pad{
    width:50px;
    height:35px;
    font-size:20px;
    color:white;
    background-color: black;
}